*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    /*background: url ();*/
}

header 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .logo
{
    color: #000;
    font-weight:700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    Letter-spacing: 2px;
}

header ul 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li 
{
    list-style: none;
    margin-Left: 20px;
}

header ul li a 
{
    text-decoration: none;
    padding: 6px 15px;
    color: #000; /*deals with the color of the text*/
    border-radius: 20px;
}

header ul li a:hover
{
    background: #000; /*when hover, bacground goes to black*/
    color: #fff; /*when hover, the text goes to white*/
}

.nyc{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

