*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .logo
{
    color: #000;
    font-weight:700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    Letter-spacing: 2px;

}

header ul
{
    display: flex;
    justify-content: center;
    align-items: center;

}

header ul li
{
    list-style: none;
    margin-Left: 20px;
}

header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #000;
    border-radius: 20px;

}

header ul li a:hover
{
    background: #000;
    color: #fff;
}

h2 {
    color: #000;
    position: absolute;
    text-align: center;
    top: 25%;
    left: 70%;
    
    font-family: 'Inria Serif';
    font-weight: 300;
    font-size: 50px;
    line-height: 60px;
}

.message p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
section {
    flex-grow: 1;
}

.container, .container2{

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    

}

.container{
    background-image:url("img/nyc.webp");
    background-size: cover;
    min-height: 600px;

}

.container2{
    background-image:url("img/subway.jpg");
    background-size: contain;
    min-height: 300px;
}



h3{
    position:absolute;
    left:50%;
}

h4 {
    position:absolute;
    left:40%;
 
}

body {
    display: flex;
    flex-direction: column;
    min-height: 200vh;
}

.column {
  position:relative;
  float: left;
  left: 47%;
  padding: 5px;

}

.row::after {
    content: "";
    clear: both;
    display: table;

}

.linkedin, .github, .gmail{

    width: 50px;
    height: 50px;
    

}

