*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .logo
{
    color: #000;
    font-weight:700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    Letter-spacing: 2px;

}

header ul
{
    display: flex;
    justify-content: center;
    align-items: center;

}

header ul li
{
    list-style: none;
    margin-Left: 20px;
}

header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #000;
    border-radius: 20px;

}

header ul li a:hover
{
    background: #000;
    color: #fff;
}

.dropdown {
    position: relative;
    display: inline-block;


  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 20px;


  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;


  }
  
  .dropdown-content a:hover {
    background-color: black;
    color:white;

    }
  
  .dropdown:hover .dropdown-content {
    display: block;

  }
  
  .dropdown:hover .dropbtn {
    background-color: black;
    color: #fff;
    border-radius: 20px;
    padding: 6px 15px;


  }
section{
    position: relative;
    width: fit-content;
    margin-top:20%;
    margin-left: 10%;
    min-height: 100vh;
    margin-bottom: -100px;

}

footer, .middle {
    position: sticky;
    height: 50px;
}

.name{
    position:absolute;
    left:50%;
}


section {
    flex-grow: 1;
}



h3{
    position:absolute;
    left:50%;
}

h4 {
    position:absolute;
    left:33%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 200vh;
}

.column {
  position:relative;
  float: left;
  left: 45%;
  padding: 5px;

}

.row::after {
    content: "";
    clear: both;
    display: table;

}

.linkedin, .github, .gmail{

    width: 50px;
    height: 50px;
    

}