*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .logo
{
    color: #000;
    font-weight:700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    Letter-spacing: 2px;

}

header ul
{
    display: flex;
    justify-content: center;
    align-items: center;

}

header ul li
{
    list-style: none;
    margin-Left: 20px;
}

header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #000;
    border-radius: 20px;

}

header ul li a:hover
{
    background: #000;
    color: #fff;
}

section{
    position:absolute;
    width: fit-content;
    margin-top:20%;
    margin-left: 10%;

}

footer{
    margin-top: 90%;
}

.name{
    position:absolute;
    left:50%;
}

h4 {
    position:absolute;
    left:40%;
}

.icon {
    position:absolute;
    left: 50%;
}


.column {
  float: left;
  width: 33.33%;
  padding: 5px;

}

.row {
    content: "";
    clear: both;
    display: table;

}


.linkedin {
    width: 25px;
    height: 30px;
}

.github {
    width: 22px;
    height: 22.2px;
}

.gmail{
    width: 26px;
    height: 26px;
}